.hero {
    background: #008374;
}

.small-herp-div {
    padding-left: 5px;
    padding-right: 7px;
}

.hero-image1 {
    width: "300px";
    height: "500px";
    background-repeat: "no-repeat";
}

.hero-image2 {
    width: "300px";
    height: "500px";
    background-repeat: "no-repeat";
}

.hero-image1 {
    position: absolute;
    top: 10px;
    left: 20px;
}

.hero-image2 {
    position: absolute;
    top: 10px;
    right: 0;
}

.hero-box p {
    max-width: 550px;
    color: #c4c4c4;
}

.container-fluid .div {
    max-width: 500px;
    margin: 0 auto;
}

.container-fluid .div p {
    color: rgba(255, 255, 255, 0.8);
    font-size: 16px;
}

.hero-box {
    background-color: #009080;
}

.hero-icons {
    font-size: 50px;
}

.get-in-touch-btn button {
    padding: 13px 31px;
}

.get-in-touch-btn button:hover {
    background-color: #009080 !important;
    border: 2px solid white;
}

.get-in-touch-btn button,
.learn-more-btn button,
.swiper-pagination-bullet-active,
.social-icons {
    background-color: #f85a40 !important;
}

.illustration-div img {
    position: absolute;
    left: 100px;
    top: -90px;
}

@media screen and (max-width: 992px) {
    .div {
        max-width: 700px;
    }
    .footer-cols {
        padding: 0;
    }
    .offcanvas {
        width: 51%;
    }
    .hero-image1-outer,
    .hero-image2-outer {
        display: none;
    }
    .mobile-list,
    .btn-close {
        display: block !important;
    }
    .mobile-view {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
}

@media screen and (max-width: 768px) {
    .hero-image1-outer,
    .hero-image2-outer {
        display: none;
    }
    .d-flex {
        display: flex;
        flex-direction: column;
        margin-bottom: 14px;
    }
    .d-flex svg {
        margin-left: 25px;
    }
    .hero-box {
        margin: 0 auto;
        padding: 50px;
    }
    .div {
        max-width: 700px;
    }
}

@media screen and (max-width: 576px) {
    .div {
        max-width: 700px;
    }
}