.icn-div span {
    display: inline-block;
    width: 30px;
    height: 30px;
    margin: 0 2px;
    position: relative;
    background: #f85a40;
    border-radius: 50%;
    color: #fff;
}

.icn-div svg {
    color: white;
    font: bold;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

footer {
    background-color: black;
}

.footer-cols {
    padding-left: 120px;
}

.get-in-touch-btn button,
.learn-more-btn button {
    padding: 13px 31px;
}

.get-in-touch-btn button,
.learn-more-btn button,
.swiper-pagination-bullet-active {
    background-color: #f85a40 !important;
}

@media screen and (max-width: 992px) {
    .footer-cols {
        padding: 0;
    }
}